<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="background-color:grey"></ion-title>
    <ion-buttons slot="start">
      <ion-back-button
        [text] = "buttonText"
        [icon] = "buttonIcon">
      </ion-back-button>
      </ion-buttons>
    <ion-title>
      <h3 style="font-family:'Gill Sans';font-weight:bold;color:rgb(228, 10, 10);">Walks</h3> 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src= "assets/Images/Walks.png" alt="Walks" class="center" style="width:280px;height:400px;"/>


</ion-content>